.popup {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;

}
  
.popup-content {
    background-color: white;
    margin-top: 50px;
    margin-left: 15%;
    padding: 20px;
    height: 50%;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.closeBtn{
    margin-left: 98%;
}

.optionContainer{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.optionContainer button{
    width: 100%;
    height: 50%;
    font-size: 1rem;
    cursor: pointer;
}

.addIncomeBtn{
    background-color: #2AEA82;
}

.addExpenseBtn{
    background-color: #FF5252;
}

.viewInfoBtn{
    background-color: #01BFFB;
}

.addIncomeContainer{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    margin-top: 5%;
    
}

.incomeTableContainer{
    width: 60%;
    margin-right: 5%;
    height: 100%;
    overflow: auto;
}

.incomeTable{
    width: 100%;
}

.incomeTable *{
    border: 1px solid;
}

.saveBtn{
    width: 100%;
    background-color: #01BFFB;
    border-radius: 5px;
}

.backBtn{
    width: 100%;
    background-color: #FF5252;
    border-radius: 5px;
}
