.BillPreview{
    border-radius: 10px;
    width: 50%;
    height: 80%;
    min-height: 800px;
    overflow: auto;
    background-color: #fff;
    margin-left: 5%;
    margin-top: 5%;
}

.billContainer{
    display: flex;
}

.formContainer{
    margin-top: 5%;
    margin-left: 5%;
}